   /* font-family: 'Prompt', sans-serif; */
      font  {font-family: 'Sarabun', sans-serif;}
      input  {font-family: 'Sarabun', sans-serif;}
      select  {font-family: 'Sarabun', sans-serif;}
      u  {font-family: 'Sarabun', sans-serif;}
      h1  {font-family: 'Sarabun', sans-serif;}
      h2  {font-family: 'Sarabun', sans-serif;}
      h3  {font-family: 'Sarabun', sans-serif;}
      h4  {font-family: 'Sarabun', sans-serif;}
      h5  {font-family: 'Sarabun', sans-serif;}
      h6  {font-family: 'Sarabun', sans-serif;}
      label  {font-family: 'Sarabun', sans-serif;}
      button  {font-family: 'Sarabun', sans-serif;}
      a {font-family: 'Sarabun', sans-serif;}
      textarea {font-family: 'Sarabun', sans-serif;}
      span {font-family: 'Sarabun', sans-serif;}
      div {font-family: 'Sarabun', sans-serif;}

.yourFontName {font-family: 'Sarabun', sans-serif;}